.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #a7c5eb;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.App-leftColumn {
  display: flex;
  width: 33vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-middleColumn {
  display: flex;
  width: 34vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-mainRect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 480px;
  height: 430px;
  background-color: #413c69;
  border-radius: 40px;
  padding-bottom: 12px;
}

.App-title {
  font-family: "Concert One", cursive;
  font-size: 36px;
  color: #413c69;
  text-align: center;

  padding-bottom: 9vh;
}

.App-harpSeals {
  font-size: 33px;
  padding-bottom: 30px;
}

.App-mainImage {
  width: calc(400px + 1vmin);
  height: calc(270px + 1vmin);

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../public/harpseal.png");
}

.placeholder {
  height: 2vh;
}

.App-rightColumn {
  display: flex;
  width: 33vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-shopTitle {
  font-size: 24px;
  font-family: "Concert One", cursive;
  padding-bottom: 5px;
  color: #413c69;
  text-align: center;
}

.App-shopItem {
  padding: 5px;
}

@media (max-width: 1100px) {
  .App-mainImage {
    width: calc(300px + 1vmin);
    height: calc(203px + 1vmin);
  }
  .App-mainRect {
    width: 375px;
    height: 323px;
    padding-bottom: 12px;
  }
  .App-title {
    padding-bottom: 7vh;
  }
  .App-harpSeals {
    font-size: 33px;
    padding-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .App-mainImage {
    width: calc(240px + 1vmin);
    height: calc(162px + 1vmin);
  }
  .App-mainRect {
    width: 280px;
    height: 242px;
    padding-bottom: 12px;
  }
  .App-title {
    font-size: 28px;
    padding-bottom: 20px;
    line-height: 95%;
    padding-top: 20px;
  }
  .App-harpSeals {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .App-shopTitle {
    font-size: 16px;
  }
  .App-shopItem {
    padding: 3px;
  }
}

@media (max-width: 755px) {
  .App {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding-right: -10px;
  }
  .App-mainImage {
    width: calc(275px + 1vmin);
    height: calc(186px + 1vmin);
  }
  .App-mainRect {
    width: 330px;
    height: 290px;
    border-radius: 40px;
    padding-bottom: 12px;
  }
  .App-middleColumn {
    width: min-content;
  }
  .App-leftColumn {
    width: min-content;
    order: 3;
  }
  .App-rightColumn {
    width: min-content;
  }
  .App-title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .App-harpSeals {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .App-shopTitle {
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .App-mainImage {
    width: calc(250px + 1vmin);
    height: calc(169px + 1vmin);
  }
  .App-mainRect {
    width: 300px;
    height: 269px;
    border-radius: 40px;
    padding-bottom: 12px;
  }
}

@media (max-width: 340px) {
  .App-mainRect {
    width: 270px;
    height: 242px;
    border-radius: 40px;
    padding-bottom: 12px;
  }
  .App-mainImage {
    width: calc(225px + 1vmin);
    height: calc(152px + 1vmin);
  }
}
