@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Recursive&family=Skranji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Cute+Font&family=Recursive&family=Skranji&display=swap");

body {
  margin: 0;
  font-family: "Cute Font", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
